@charset "UTF-8";
/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/**
 * Search results.
 ============================================================================ */
.item-list--search-results {
  border-radius: 2px;
}

.search-results {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  padding: 16px;
  padding: 1rem;
}
.search-results--empty h3 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 21px;
  line-height: 1.3125rem;
}
.search-results__item {
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
  padding: 0;
  list-style: none;
}

.search-result__title {
  margin: 0;
}
.search-result__snippet-info {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
}
.search-result p {
  margin: 0;
}

/**
 * Search forms
 * - search block form
 * - advanced search form
 ============================================================================ */
.search-block-form__form {
  display: block;
  clear: both;
  position: relative;
}
.search-block-form__form .form-type-search,
.search-block-form__form .form-actions {
  display: inline;
  margin: 0 0 7px;
  margin: 0 0 0.4375rem;
}
.search-block-form__form .form-search {
  width: 100%;
}
.submit-is-visible .search-block-form__form .form-search {
  padding-right: 35px;
  padding-right: 2.1875rem;
}
.search-block-form__form .form-actions {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.search-block-form__form .form-submit {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  width: 2rem;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  cursor: pointer;
  background-image: url(../images/search-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 0 2px 2px 0;
}
.search-block-form__form .contextual-render-processed {
  top: 2px;
  right: 2em;
}
.search-block-form__form ::-webkit-input-placeholder {
  color: #cccccc;
  opacity: 0.75;
}
.search-block-form__form :-moz-placeholder {
  color: #cccccc;
  opacity: 0.75;
}
.search-block-form__form ::-moz-placeholder {
  color: #cccccc;
  opacity: 0.75;
}
.search-block-form__form :-ms-input-placeholder {
  color: #cccccc;
  opacity: 0.75;
}

.search-basic {
  display: block;
}
.search-basic label {
  display: block;
  margin: 0 0 7px;
  margin: 0 0 0.4375rem;
}
.search-basic .form-type-search,
.search-basic .form-search {
  display: block;
  width: 100%;
  margin: 7px 0;
  margin: 0.4375rem 0;
}

.search-advanced .details-wrapper > fieldset > legend {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
}
.search-advanced .form-text {
  min-width: 75%;
}
.search-advanced .form-item,
.search-advanced .form-radios,
.search-advanced .form-checkboxes {
  margin-bottom: 7px;
  margin-bottom: 0.4375rem;
}

.search-help-link {
  float: right;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  margin-top: -24px;
  margin-top: -1.5rem;
  padding-right: 6px;
  padding-right: 0.375rem;
}
.search-help-link:before {
  font-family: FontAwesome, sans-serif;
  content: "";
  padding: 0;
  margin: 0;
  text-align: center;
  width: 16px;
  width: 1rem;
  display: none;
}
.fa-loaded .search-help-link:before {
  display: inline-block;
}
/*# sourceMappingURL=maps/search.css.map */